<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wedding</title>

<style type="text/css" media="all">
@import "css/wedding.css";
</style>

<link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="wrap_index">
    <div class="main">
      <div class="menu">
        <a href="/"><img src="img/home_btn.jpg"></a>
        <a href="/rsvp"><img src="img/rsvp_btn.jpg"></a>
        <a href="/registry"><img src="img/registry_btn.jpg"></a>
        <a href="/information"><img src="img/info_btn.jpg"></a>
      </div>
    </div>
    <p class="section_body" style="margin-top:760px;">
    Welcome to our website! We’re Brandon and Miranda

and we’re getting married! Despite our mostly different 

interests (I like books and old buildings! He likes bikes 

and tropical vacations!), we realized it was love soon after 

we first met. Seven years, two cats, and one surprise 

proposal in Paris later, we’re having a wedding! We’re 

very excited to share our day with all of you.
  </p>
  </div>

  
</body>

</html>
