<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Information</title>

<style type="text/css" media="all">
@import "css/wedding.css";
</style>

<link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="wrap">
    <div class="main">
      <div class="menu">
        <a href="/"><img src="img/home_btn.jpg"></a>
        <a href="/rsvp"><img src="img/rsvp_btn.jpg"></a>
        <a href="/registry"><img src="img/registry_btn.jpg"></a>
        <a href="/information"><img src="img/info_btn.jpg"></a>
      </div>

      <div class="text">

        
       <H3 class="section_header"> Ceremony/Reception </H3>

<p class="section_body">Our ceremony will begin at 4 pm on Saturday, September 20th

 with the reception (Drinks! Dinner! Dancing!) 

immediately following. The ceremony and reception will 

both take place outdoors. Our wedding was inspired by 

Miranda’s two great loves (after Brandon, of course): 

France in general and Paris in the 1920s in particular. 

We’ll have plenty of pastries and desserts on hand to 

satisfy your sweet tooth, as well as a selection of vintage 

cocktails to get you feeling hotsy-totsy!

</p>


<p class="section_body"><i>Brandon and Miranda respectfully request that this be an 

adults-only affair. If you will need childcare, please don’t 

hesitate to call us! Miranda (970) 217-6419 or Brandon (303) 

550-2844.</i></p>

<p class="section_body">

<H3 class="section_header">Directions</H3>
<p class="section_body">
  <B>203 Adams Avenue<br \>
  Mead, CO<br \>
  80542<br \></B><br \>

  Our venue is located just north of Longmont, CO near I-25. From the north and south 
  get on I-25 and head towards Longmont. Take the highway 66 exit (marker 243) west 
  towards Lyons. At the first light you encouter, take a right onto road 7. In one mile, 
  make a right onto Adams Avenue. Look for signs posted on the right in about a quarter mile. 
  Please follow the gravel drive into the back lot for parking.
</p>
</p>

<H3 class="section_header">Dress Code</H3>

<p class="section_body">While we won’t turn you out of the juice joint if you’re not 

dressed the part, we would love to see you all dolled up in 

your glad rags! Here are a couple of websites to help you 

channel your inner Gatsby: <br \>

<a href="http://www.huffingtonpost.com/2013/05/15/1920s-fashion-flapper-style_n_3274265.html">Ladies</a>
<br \>
<a href="http://www.vintagedancer.com/1920s/1920s-fashion-men/">Gents</a>
<br \>

</p>

<H3 class="section_header">Honeymoon</H3>

<p class="section_body">Two days after the wedding, we’ll be embarking on a 

European adventure with stops in Munich, Salzburg, 

Vienna, and Prague. First up: Oktoberfest! This trip will 

be extra special because we’ve invited our siblings to join 

us. Since we all live in different states and our schedules 

don’t permit us to visit as often as we’d like, we decided 

this would be the perfect opportunity for us to spend some 

quality time together.</p>

      </div>

      <div class="footer">

      </div>

    </div>
  </div>
</body>
</html>
