@charset "utf-8";
/* CSS Document */

/* correct center float */
div.wrap {
    width:1016px;
    margin: 0 auto;
    background-image:url('../img/background_home.png');
    background-repeat: no-repeat;
    min-height: 1300px;
}

/* The main content area */
div.wrap div.main {
    margin:0px;
    margin-top:0px;
    padding:0px;
    padding-left:35px;
}